#ignore data folder (containing dataset)
data/
#ignore mlruns folder (containing executed runs)
mlruns/
#ignore output files (json, dot, svg)
*.json
*.dot
*.svg

*/__pycache__/
*/*/__pycache__/

custom_app_plugin/
gh_context/
yProv_client.py
