codecarbon==2.3.*
fvcore==0.1.*
geocoder==1.38.1
gpustat==1.1.*
GPUtil==1.4.*
lightning==2.*
netCDF4==1.7.*
numpy==1.*
pandas==2.2.*
psutil==6.0.*
pydot
pytest==8.3.*
setuptools
torch==2.*
torchvision
tqdm==4.66.*
typing_extensions==4.12.*
prov
pydot
pipreqs
